{% extends 'mainapp/base.html' %}

{% block title %}Класс машины{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      <a href="econom-class/">Эконом класс</a>
    </div>
    <div class="col-sm">
      <a href="sredniy-class/">Средний класс</a>
    </div>
    <div class="col-sm">
      <a href="biznes-class">Бизнес класс</a>
    </div>
    <div class="col-sm">
      <a href="premium-class">Премиум класс</a>
    </div>
  </div>
</div>

{% endblock %}
